# caddy verion: v2.5.0
###################
# Global Settings #
###################
{
	default_sni xnaas.info
}

############
# Snippets #
############
(proxyheaders) {
	# 2022-04-25: https://www.cloudflare.com/ips-v4 & https://www.cloudflare.com/ips-v6
	trusted_proxies private_ranges 173.245.48.0/20 103.21.244.0/22 103.22.200.0/22 103.31.4.0/22 141.101.64.0/18 108.162.192.0/18 190.93.240.0/20 188.114.96.0/20 197.234.240.0/22 198.41.128.0/17 162.158.0.0/15 104.16.0.0/13 104.24.0.0/14 172.64.0.0/13 131.0.72.0/22 2400:cb00::/32 2606:4700::/32 2803:f800::/32 2405:b500::/32 2405:8100::/32 2a06:98c0::/29 2c0f:f248::/32
	flush_interval -1
	header_up X-Real-IP {http.request.header.CF-Connecting-IP}
}
(main) {
	tls {$ACMEEMAIL} {
		ca https://acme-v02.api.letsencrypt.org/directory
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.0.0.1
	}
	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		Content-Security-Policy "upgrade-insecure-requests"
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	log {
		output file /data/logs/access.log {
			roll_size 100MiB
			roll_keep 10
			roll_keep_for 168h
		}
		format filter {
			wrap json
			fields {
				request>tls delete
			}
		}
		level ERROR
	}
	respond /robots.txt 200 {
		body "User-agent: *
Disallow: /

User-agent: AdsBot-Google
Disallow: /

User-agent: AdsBot-Google-Mobile
Disallow: /"
		close
	}
}
(asak) {
	basicauth {
		{$ASAK}
	}
}
(errors) {
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
}

##############
# xnaas.info #
##############
https://xnaas.info {
	import main
	import errors
	root * /www/websites/xnaas.info
	file_server
	redir /tmp /tmp/
	handle_path /tmp/* {
		root * /www/tmp
		file_server
	}
	handle_path /pgp* {
		redir https://github.com/xnaas/pgp 302
	}
}

https://home.xnaas.info {
	import main
	reverse_proxy https://192.168.1.150:5001 {
		import proxyheaders
		transport http {
			tls_insecure_skip_verify
		}
	}
}

https://irc.xnaas.info {
	import main
	reverse_proxy http://thelounge:9000 {
		import proxyheaders
	}
}

https://kb.xnaas.info {
	import main
	root * /www/websites/kb.xnaas.info/website
	file_server
	uri strip_prefix /en/public # uri strip for leaving wikijs
}

https://live.xnaas.info {
	import main
	reverse_proxy http://owncast:8080 {
		import proxyheaders
	}
}

https://music.xnaas.info {
	import main
	reverse_proxy http://music:4533 {
		import proxyheaders
	}
}

https://notes.xnaas.info {
	import main
	reverse_proxy http://joplin:22300 {
		import proxyheaders
	}
}

https://p.xnaas.info {
	import main
	import errors
	root * /www/websites/p.xnaas.info
	file_server browse
}

https://plex.xnaas.info {
	import main
	reverse_proxy http://192.168.1.101:32400 {
		import proxyheaders
	}
}

https://plexpy.xnaas.info {
	import main
	reverse_proxy http://plexpy:8181 {
		import proxyheaders
	}
}

https://request.xnaas.info {
	import main
	reverse_proxy http://overseerr:5055 {
		import proxyheaders
	}
}

https://rss.xnaas.info {
	import main
	reverse_proxy http://rss:80 {
		import proxyheaders
	}
}

https://tesla.xnaas.info {
	import main
	reverse_proxy http://teslamate:4000 {
		import proxyheaders
	}
}

https://teslag.xnaas.info {
	import main
	reverse_proxy http://teslamate-grafana:3000 {
		import proxyheaders
	}
}

https://www.xnaas.info,
https://www.actionsack.com {
	import main
	redir https://dropwww.com/why 301
}

# https://ツ.xnaas.info
https://xn--bdk.xnaas.info {
	import main
	import errors
	root * /www/websites/ツ.xnaas.info
	file_server
}

# https://🤔.xnaas.info
https://xn--wp9h.xnaas.info {
	import main
	import errors
	root * /www/websites/🤔.xnaas.info
	file_server
}

# https://🤪.xnaas.info
https://xn--jq9h.xnaas.info {
	import main
	import errors
	root * /www/websites/🤪.xnaas.info
	file_server
}

# https://🤫.xnaas.info
https://xn--kq9h.xnaas.info {
	import main
	import errors
	root * /www/websites/🤫.xnaas.info
	file_server browse
}

##################
# actionsack.com #
##################
https://actionsack.com {
	import main
	import errors
	root * /www/websites/actionsack.com/website
	file_server
	redir /tmp /tmp/
	handle_path /tmp/* {
		root * /www/websites/actionsack.com/tmp
		file_server browse
	}
}

https://bib.actionsack.com {
	import main
	reverse_proxy http://bibliogram:10407 {
		import proxyheaders
	}
}

# This one exists just to get certs
# for IRC and Mumble, basically.
https://chat.actionsack.com {
	import main
	respond "OK"
}

# todo: rate-limiting /Games
https://dl.actionsack.com {
	import main
	import errors
	root * /www/download
	redir /favicon.ico https://actionsack.com/favicon.ico
	file_server browse {
		hide .*
	}
}

https://i.actionsack.com {
	import main
	reverse_proxy http://rimgo:3000 {
		import proxyheaders
	}
}

https://nitter.actionsack.com {
	import main
	reverse_proxy http://nitter:8080 {
		import proxyheaders
	}
}

https://ott.actionsack.com {
	import main
	reverse_proxy http://ott:8080 {
		import proxyheaders
	}
}

https://p.actionsack.com {
	import main
	import errors
	root * /www/websites/p.actionsack.com
	redir /favicon.ico https://actionsack.com/favicon.ico
	file_server browse
}

https://rss.actionsack.com {
	import main
	import asak
	reverse_proxy http://rss-bridge:80 {
		import proxyheaders
	}
}

https://send.actionsack.com {
	import main
	reverse_proxy http://send:1234 {
		import proxyheaders
	}
}

https://webchat.actionsack.com {
	import main
	reverse_proxy http://webchat:9000 {
		import proxyheaders
	}
}

https://ytdl.actionsack.com {
	import main
	reverse_proxy http://youtubedl:8080 {
		import proxyheaders
	}
}
