# caddy verion: v2.5.1
###################
# Global Settings #
###################
{
	default_sni xnaas.info
}

############
# Snippets #
############
(proxyheaders) {
	# 2022-04-25: https://www.cloudflare.com/ips-v4 & https://www.cloudflare.com/ips-v6
	trusted_proxies private_ranges 173.245.48.0/20 103.21.244.0/22 103.22.200.0/22 103.31.4.0/22 141.101.64.0/18 108.162.192.0/18 190.93.240.0/20 188.114.96.0/20 197.234.240.0/22 198.41.128.0/17 162.158.0.0/15 104.16.0.0/13 104.24.0.0/14 172.64.0.0/13 131.0.72.0/22 2400:cb00::/32 2606:4700::/32 2803:f800::/32 2405:b500::/32 2405:8100::/32 2a06:98c0::/29 2c0f:f248::/32
	flush_interval -1
	header_up X-Forwarded-For {vars.realip}
	header_up X-Real-IP {vars.realip}
}
(main) {
	tls {$ACMEEMAIL} {
		ca https://acme-v02.api.letsencrypt.org/directory
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.0.0.1
	}
	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		Content-Security-Policy "upgrade-insecure-requests"
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Robots-Tag "none"
	}
	log {
		output file /data/logs/error.log {
			roll_size 100MiB
			roll_keep 10
			roll_keep_for 168h
		}
		format filter {
			wrap json
			fields {
				request>tls delete
				resp_headers delete
				user_id delete
			}
		}
		level ERROR
	}
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
	@tor header Cf-Ipcountry T1
	vars realip {remote_host}
	@cf header Cf-Connecting-Ip *
	vars @cf realip {header.Cf-Connecting-Ip}
}
(asak) {
	basicauth {
		{$ASAK}
	}
}

https://xnaas.info {
	import main
	root * /www/websites/xnaas.info
	file_server
	redir /tmp /tmp/
	handle_path /tmp/* {
		root * /www/tmp
		file_server
	}
	handle_path /pgp* {
		redir https://github.com/xnaas/pgp 302
	}
}

https://*.xnaas.info {
	import main
	handle @tor {
		abort
	}
	@filedump host p.xnaas.info
	@kb host kb.xnaas.info
	@live host live.xnaas.info
	@music host music.xnaas.info
	@nas host home.xnaas.info
	@plex host plex.xnaas.info
	@plexpy host plexpy.xnaas.info
	@plexrequests host request.xnaas.info
	@rss host rss.xnaas.info
	@tesla host tesla.xnaas.info
	@teslagrafana host teslag.xnaas.info
	@thelounge host irc.xnaas.info
	@unlisted host {$ULD}
	@ツ host xn--bdk.xnaas.info
	@🤔 host xn--wp9h.xnaas.info
	@🤪 host xn--jq9h.xnaas.info
	@🤫 host xn--kq9h.xnaas.info
	handle @filedump {
		root * /www/websites/p.xnaas.info
		file_server browse
	}
	handle @kb {
		root * /www/websites/kb.xnaas.info/website
		file_server
		uri strip_prefix /en/public # uri strip for leaving wikijs
	}
	handle @live {
		reverse_proxy http://owncast:8080 {
			import proxyheaders
		}
	}
	handle @music {
		reverse_proxy http://music:4533 {
			import proxyheaders
		}
	}
	handle @nas {
		reverse_proxy https://192.168.1.150:5001 {
			import proxyheaders
			transport http {
				tls_insecure_skip_verify
			}
		}
	}
	handle @plex {
		reverse_proxy http://192.168.1.101:32400 {
			import proxyheaders
		}
	}
	handle @plexpy {
		reverse_proxy http://plexpy:8181 {
			import proxyheaders
		}
	}
	handle @plexrequests {
		reverse_proxy http://overseerr:5055 {
			import proxyheaders
		}
	}
	handle @rss {
		reverse_proxy http://rss:80 {
			import proxyheaders
		}
	}
	handle @tesla {
		reverse_proxy http://teslamate:4000 {
			import proxyheaders
		}
	}
	handle @teslagrafana {
		reverse_proxy http://teslamate-grafana:3000 {
			import proxyheaders
		}
	}
	handle @thelounge {
		reverse_proxy http://thelounge:9000 {
			import proxyheaders
		}
	}
	handle @unlisted {
		redir /admin* /
		reverse_proxy {$ULP} {
			import proxyheaders
		}
		reverse_proxy {$ULH} {
			import proxyheaders
		}
	}
	handle @ツ {
		root * /www/websites/ツ.xnaas.info
		file_server
	}
	handle @🤔 {
		root * /www/websites/🤔.xnaas.info
		file_server
	}
	handle @🤪 {
		root * /www/websites/🤪.xnaas.info
		file_server
	}
	handle @🤫 {
		root * /www/websites/🤫.xnaas.info
		file_server browse
	}
	handle {
		redir https://xnaas.info 302
	}
}

https://actionsack.com {
	import main
	root * /www/websites/actionsack.com/website
	file_server
	redir /tmp /tmp/
	handle_path /tmp/* {
		root * /www/websites/actionsack.com/tmp
		file_server browse
	}
}

# This one exists just to get certs for IRC and Mumble.
https://chat.actionsack.com {
	import main
	respond "OK"
}

https://*.actionsack.com {
	import main
	@bibliogram host bib.actionsack.com
	@filedump host p.actionsack.com
	@nitter host nitter.actionsack.com
	@ott host ott.actionsack.com
	@public host dl.actionsack.com
	@rimgo host i.actionsack.com
	@rss host rss.actionsack.com
	@send host send.actionsack.com
	@webchat host webchat.actionsack.com
	@ytdl host ytdl.actionsack.com
	handle @bibliogram {
		reverse_proxy http://bibliogram:10407 {
			import proxyheaders
		}
	}
	handle @filedump {
		root * /www/websites/p.actionsack.com
		redir /favicon.ico https://actionsack.com/favicon.ico
		file_server browse
	}
	handle @nitter {
		reverse_proxy http://nitter:8080 {
			import proxyheaders
		}
	}
	handle @ott {
		reverse_proxy http://ott:8080 {
			import proxyheaders
		}
	}
	handle @public {
		root * /www/download
		redir /favicon.ico https://actionsack.com/favicon.ico
		file_server browse {
			hide .*
		}
	}
	handle @rimgo {
		reverse_proxy http://rimgo:3000 {
			import proxyheaders
		}
	}
	handle @rss {
		import asak
		reverse_proxy http://rss-bridge:80 {
			import proxyheaders
		}
	}
	handle @send {
		reverse_proxy http://send:1234 {
			import proxyheaders
		}
	}
	handle @webchat {
		reverse_proxy http://webchat:9000 {
			import proxyheaders
		}
	}
	handle @ytdl {
		reverse_proxy http://youtubedl:8080 {
			import proxyheaders
		}
	}
	handle {
		redir https://actionsack.com 302
	}
}
